---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const recipes = await getCollection("recipes");
---

<BaseLayout>
    <h1>Recipes</h1>
    <p>
        Disclaimer: I cannot take credit for pretty much any of the recipes here. The vast majority I
        found, lost, found again and then keep losing - so here they are in one place where I can find them. In alot of circumstances I've
        made alterations and now I can read them without having to scroll through 8 pages of a life story to get to
        the content covered up in a narrow column with a bunch of obnoxious ads.
    </p>

    <ul>
        {recipes.map((recipe) => (
                <li>
                    <a href={`/recipes/${recipe.slug}`}>
                        {recipe.data.title}
                    </a>
                </li>
        ))}
    </ul>
</BaseLayout>
