---
import "../styles/global.css";
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<header class="top-bar">
    <div class="top-bar-inner">
        <a href="/" aria-label="Go to homepage">
            <img
                    class="top-bar-logo"
                    src="/adammakescoffee.png"
                    alt="Adam Makes Coffee logo">
        </a>
        <nav class="nav">
            <a href="/recipes">Recipes</a>
        </nav>
    </div>
</header>

<main class="container">
    <slot />
</main>
</body>
</html>
