---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
</head>

<body>
<header class="topbar">
    <div class="container nav">
        <a href="/" class="logo">adamMakes.coffee</a>
        <nav>
            <a href="/blog">Blog</a>
            <a href="/recipes">Recipes</a>
            <a href="/software">Software</a>
        </nav>
    </div>
</header>

<main class="container content">
    <slot />
</main>
</body>
</html>